.character-key {
	display: inline-block;
	margin: 3px;
	padding: 5px;
	width: 30px;
	background-color: transparent;
	border: solid 1px black;
	border-radius: 5px;
	cursor: pointer;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
}

.character-key:hover {
	background-color: #d6d6d6;
}

.character-key:active {
	transform: translateY(2px);
}

#P,
#L,
#Q {
	display: inline;
}

#P::after,
#L::after,
#Q::before {
	content: "";
	display: block;
}

.character-div {
	display: inline-block;
}

@media screen and (max-width: 320px) {
	.character-key {
		width: 25px;
	}
}

@media screen and (max-width: 280px) {
	.character-key {
		width: 22px;
		margin: 2px;
		padding: 0px;
		height: 35px;
	}
}
